p#call-to-action{
	font-size: 3em;
	color: black;
	font-family: serif;
	text-align: center;
	margin: 4em;
}

button#madlib-btn{
	margin: 0 50%;
}


div#full{
	background-image: url();
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}